In [1]:
import cudf
import pyarrow as pa
import pandas as pd
import numpy as np
import cupy as cp

In [2]:
temp = cudf.read_parquet('./age_step_1_final.parquet/*')

/home/ajay/anaconda3/envs/rapids_dev_latest/lib/python3.7/site-packages/fsspec/implementations/local.py:33: FutureWarning: The default value of auto_mkdir=True has been deprecated and will be changed to auto_mkdir=False by default in a future release.
  FutureWarning,

In [3]:
temp

,GISJOIN,p_id,gender_0,gender_1,JLZE003,JLZE004,JLZE005,JLZE006,JLZE007,JLZE008,...,JLZE040,JLZE041,JLZE042,JLZE043,JLZE044,JLZE045,JLZE046,JLZE047,JLZE048,JLZE049
0,11000100099011,717,286,431,0,13,0,0,0,0,...,72,27,14,14,29,26,24,49,19,24
1,11000100099012,1532,702,830,12,12,78,22,0,0,...,73,78,64,25,26,42,41,42,42,7
2,11000100099021,1123,482,641,22,0,28,25,0,0,...,110,14,54,96,27,24,11,0,74,19
3,11000100099022,1782,696,1086,17,70,22,75,0,18,...,17,18,35,44,18,0,47,69,29,53
4,11000100099031,976,524,452,0,57,153,59,0,91,...,42,16,19,0,0,0,0,20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216859,55000709603003,1249,598,651,15,16,39,28,7,0,...,87,53,21,25,11,8,22,50,5,34
216860,55000709604001,1495,757,738,40,28,56,22,18,0,...,68,49,21,32,2,54,34,22,13,10
216861,55000709604002,730,375,355,8,48,23,10,0,0,...,34,34,3,22,4,7,25,5,8,17
216862,55000709604003,871,464,407,56,13,21,16,14,2,...,34,33,15,22,11,11,14,21,7,16
216863,55000709604004,1830,926,904,44,40,61,38,31,8,...,96,82,46,45,42,40,53,70,8,40

In [4]:
temp.index = temp.GISJOIN
temp.drop_column('GISJOIN')

Male - 0 <br>
Female - 1

# age distribution

JLZE003:     Male: Under 5 years <br>
JLZE004:     Male: 5 to 9 years <br>
JLZE005:     Male: 10 to 14 years <br>
JLZE006:     Male: 15 to 17 years <br>
JLZE007:     Male: 18 and 19 years <br>
JLZE008:     Male: 20 years <br>
JLZE009:     Male: 21 years <br>
JLZE010:     Male: 22 to 24 years <br>
JLZE011:     Male: 25 to 29 years <br>
JLZE012:     Male: 30 to 34 years <br>
JLZE013:     Male: 35 to 39 years <br>
JLZE014:     Male: 40 to 44 years <br>
JLZE015:     Male: 45 to 49 years <br>
JLZE016:     Male: 50 to 54 years <br>
JLZE017:     Male: 55 to 59 years <br>
JLZE018:     Male: 60 and 61 years <br>
JLZE019:     Male: 62 to 64 years <br>
JLZE020:     Male: 65 and 66 years <br>
JLZE021:     Male: 67 to 69 years <br>
JLZE022:     Male: 70 to 74 years <br>
JLZE023:     Male: 75 to 79 years <br>
JLZE024:     Male: 80 to 84 years <br>
JLZE025:     Male: 85 years and over <br>

JLZE027:     Female: Under 5 years <br>
JLZE028:     Female: 5 to 9 years <br>
JLZE029:     Female: 10 to 14 years <br>
JLZE030:     Female: 15 to 17 years <br>
JLZE031:     Female: 18 and 19 years <br>
JLZE032:     Female: 20 years <br>
JLZE033:     Female: 21 years <br>
JLZE034:     Female: 22 to 24 years <br>
JLZE035:     Female: 25 to 29 years <br>
JLZE036:     Female: 30 to 34 years <br>
JLZE037:     Female: 35 to 39 years <br>
JLZE038:     Female: 40 to 44 years <br>
JLZE039:     Female: 45 to 49 years <br>
JLZE040:     Female: 50 to 54 years <br>
JLZE041:     Female: 55 to 59 years <br>
JLZE042:     Female: 60 and 61 years <br>
JLZE043:     Female: 62 to 64 years <br>
JLZE044:     Female: 65 and 66 years <br>
JLZE045:     Female: 67 to 69 years <br>
JLZE046:     Female: 70 to 74 years <br>
JLZE047:     Female: 75 to 79 years <br>
JLZE048:     Female: 80 to 84 years <br>
JLZE049:     Female: 85 years and over <br>

In [5]:
sex_by_age_cols_male = {
    "JLZE003": [1, 2, 3, 4],
    "JLZE004": [5,6,7,8, 9],
    "JLZE005": [10,11,12,13,14],
    "JLZE006": [15,16,17],
    "JLZE007": [18,19],
    "JLZE008": [20],
    "JLZE009": [21],
    "JLZE010": [22, 23, 24],
    "JLZE011": [25,26,27,28,29],
    "JLZE012": [30,31,32,33,34],
    "JLZE013": [35, 36, 37,38,39],
    "JLZE014": [40,41,42,43,44],
    "JLZE015": [45,46,47,48,49],
    "JLZE016": [50,51,52,53,54],
    "JLZE017": [55,56,57,58,59],
    "JLZE018": [60,61],
    "JLZE019": [62,63,64],
    "JLZE020": [65, 66],
    "JLZE021": [67,68,69],
    "JLZE022": [70,71,72,73,74],
    "JLZE023": [75,76,77,78,79],
    "JLZE024": [80,81,82,83,84],
    "JLZE025": [85],
}
sex_by_age_cols_female = {
    "JLZE027": [1, 2, 3, 4],
    "JLZE028": [5,6,7,8, 9],
    "JLZE029": [10,11,12,13,14],
    "JLZE030": [15,16,17],
    "JLZE031": [18,19],
    "JLZE032": [20],
    "JLZE033": [21],
    "JLZE034": [22, 23, 24],
    "JLZE035": [25,26,27,28,29],
    "JLZE036": [30,31,32,33,34],
    "JLZE037": [35, 36, 37,38,39],
    "JLZE038": [40,41,42,43,44],
    "JLZE039": [45,46,47,48,49],
    "JLZE040": [50,51,52,53,54],
    "JLZE041": [55,56,57,58,59],
    "JLZE042": [60,61],
    "JLZE043": [62,63,64],
    "JLZE044": [65, 66],
    "JLZE045": [67,68,69],
    "JLZE046": [70,71,72,73,74],
    "JLZE047": [75,76,77,78,79],
    "JLZE048": [80,81,82,83,84],
    "JLZE049": [85],
}

### Males

In [7]:
df = cudf.DataFrame()
for key in sex_by_age_cols_male:
    
    temp_df = cudf.DataFrame({
        'GISJOIN': temp.index.repeat(temp[key]).values
    })
    temp_df['age'] = cp.random.choice(sex_by_age_cols_male[key], size=len(temp_df))
    df = cudf.concat([df,temp_df])

### Females

In [8]:
for key in sex_by_age_cols_female:
    
    temp_df = cudf.DataFrame({
        'GISJOIN': temp.index.repeat(temp[key]).values
    })
    temp_df['age'] = cp.random.choice(sex_by_age_cols_female[key], size=len(temp_df))
    df = cudf.concat([df,temp_df])

In [9]:
df

                GISJOIN  age
0        11000100099012    2
1        11000100099012    2
2        11000100099012    2
3        11000100099012    2
4        11000100099012    3
...                 ...  ...
3594995  55000709604004   85
3594996  55000709604004   85
3594997  55000709604004   85
3594998  55000709604004   85
3594999  55000709604004   85

[308745309 rows x 2 columns]

In [10]:
df.groupby('age').count().index.values.shape

(85,)

In [11]:
df.to_parquet('age_step_2.parquet')